.ab
{   
    font-size: 50px;
    font-family: cursive;
padding-left: 40%;
padding-right: 50%;


}
#shirt{
    background-color: cornsilk;
}
.db
{
    padding-left: 40%;
    padding-right: 4%;
    font-family: cursive;
    font-size: 40px;
}
.nm

{
    font-size: 30px;
    font-style: oblique;
}
.xy
{
    border-radius: 10px;
    padding: 10px;
    background-color:  aliceblue;
    font-size: 20px;
}
.ed
{
    font-size: 20px;
}
.gh
{
    font-size: 20px;

}